http:
    listen: ":8086"

irc:
    host: "irc.hackint.eu"
    port: 6667
    nickname: "webhook-bot"
    cafile: "/etc/ssl/hackint.pem"

modules:
    status:
        enabled: true
    prometheus:
        enabled: true
        channel: "#prometeusChannel"
        hostname_filter: "(\\w*)\\.company.com:\\d{4}"
    gitlab:
        enabled: true
        default: "#defaultChannel"
        groups:
            "myGitlabGroup":
                - "#groupChannel"
        explicit:
            "myGitlabGroup/mySpecialGitlabProject":
                - "#specificChannel"
    simple:
        enabled: True
        default_channel: "#defaultChannel"

