http:
    listen: ":8086"

logging:
    level: "INFO"

irc:
    host: "irc.hackint.eu"
    port: 6667
    ssl:
        enabled: true
        cafile: "/etc/ssl/hackint.pem"
        client_cert:
            certfile: "/home/bot/bot.cert"
            keyfile: "/home/bot/bot.key"
    nickname: "webhook-bot"
    auth:
        method: SASL-Plain
        username: "webhook-bot"
        password: "VerySecure!"

modules:
    prometheus:
        enabled: true
        channel: "#prometheusChannel"
        hostname_filter: "(\\w*)\\.company.com:\\d{4}"
    gitlab:
        enabled: true
        default: "#defaultChannel"
        commit_limit: 3
        groups:
            "myGitlabGroup":
                - "#groupChannel"
        explicit:
            "myGitlabGroup/mySpecialGitlabProject":
                - "#specificChannel"
    simple:
        enabled: True
        default_channel: "#defaultChannel"
    icinga2:
      enabled: True
      default: "#monitoring"
      hostgroups:
          "webservers":
              - "#monitoring-web"
      explicit:
          "host.example.tld":
              - "#monitoring-example"

