http:
    listen: ":8086"

logging:
    level: "INFO"

irc:
    host: "irc.hackint.org"
    port: 6697
    ssl:
        enabled: true
        cafile: "/etc/ssl/certs/ca-certificates.crt"
        client_cert:
            certfile: "/home/bot/bot.cert"
            keyfile: "/home/bot/bot.key"
    nickname: "webhook-bot"
    auth:
        method: SASL-Plain
        username: "webhook-bot"
        password: "VerySecure!"

modules:
    my-prom-endpoint:
        endpoint: "/prom"
        type: "prometheus"
        channel: "#prometheusChannel"
        hostname_filter: "(\\w*)\\.company.com:\\d{4}"

    gitlab:
        endpoint: "/gitlab"
        type: "gitlab"
        default_channel: "#defaultChannel"
        commit_limit: 3
        groups:
            "myGitlabGroup":
                - "#groupChannel"
        explicit:
            "myGitlabGroup/mySpecialGitlabProject":
                - "#specificChannel"
    simple:
        endpoint: "/simple"
        type: "simple"
        default_channel: "#defaultChannel"

    another-simple:
        endpoint: "/simple2"
        type: "simple"
        default_channel: "#defaultChannel"

    icinga2:
        endpoint: "/betterthannagios"
        type: "icinga"
        default_channel: "#monitoring"
        hostgroups:
            "webservers":
                - "#monitoring-web"
        explicit:
            "host.example.tld":
                - "#monitoring-example"
